@page "/orders/edit"
@using Microsoft.EntityFrameworkCore
@using EStore.Data.Models
@inject IDbContextFactory<EStore.Data.Database.EStoreContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Order</h2>
<hr />
@if (Order is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Order" OnValidSubmit="UpdateOrder" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Order.OrderId" value="@Order.OrderId" />
                <div class="mb-3">
                    <label for="memberid" class="form-label">MemberId:</label>
                    <InputNumber id="memberid" @bind-Value="Order.MemberId" class="form-control" />
                    <ValidationMessage For="() => Order.MemberId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="orderdate" class="form-label">OrderDate:</label>
                    <InputDate id="orderdate" @bind-Value="Order.OrderDate" class="form-control" />
                    <ValidationMessage For="() => Order.OrderDate" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="requiredate" class="form-label">RequireDate:</label>
                    <InputDate id="requiredate" @bind-Value="Order.RequireDate" class="form-control" />
                    <ValidationMessage For="() => Order.RequireDate" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="shippeddate" class="form-label">ShippedDate:</label>
                    <InputDate id="shippeddate" @bind-Value="Order.ShippedDate" class="form-control" />
                    <ValidationMessage For="() => Order.ShippedDate" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="freight" class="form-label">Freight:</label>
                    <InputNumber id="freight" @bind-Value="Order.Freight" class="form-control" />
                    <ValidationMessage For="() => Order.Freight" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/orders">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int OrderId { get; set; }

    [SupplyParameterFromForm]
    private Order? Order { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Order ??= await context.Orders.FirstOrDefaultAsync(m => m.OrderId == OrderId);

        if (Order is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateOrder()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Order!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!OrderExists(Order!.OrderId))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/orders");
    }

    private bool OrderExists(int orderid)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Orders.Any(e => e.OrderId == orderid);
    }
}
