@page "/members"
@using EStore.Business.DTOs
@using EStore.Business.Service.IService
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using EStore.Data.Models
@using EStore.Data.Database
@inject IMemberService service;

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="members/create">Create New</a>
</p>

<QuickGrid Class="table" Items="members.AsQueryable()">
    <PropertyColumn Property="member => member.Email" />
    <PropertyColumn Property="member => member.CompanyName" />
    <PropertyColumn Property="member => member.City" />
    <PropertyColumn Property="member => member.Country" />

    <TemplateColumn Context="member">
        <a href="@($"members/edit?memberid={member.MemberId}")">Edit</a> |
        <a href="@($"members/details?memberid={member.MemberId}")">Details</a> |
        <a href="@($"members/delete?memberid={member.MemberId}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    IList<MemberDTO> members = new List<MemberDTO>();

    protected override async Task OnInitializedAsync()
    {
        members = await service.GetMembersAsync();
    }
}