html {
    font-size: 14px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.w-15 {
    width: 15% !important;
}

.w-20 {
    width: 20% !important;
}

.fs-7 {
    font-size: 0.9rem;
}

.fs-8 {
    font-size: 0.7rem;
}

.non-underline {
    text-decoration: none;
}

.black-a {
    color: black;
}

.site {
    display: grid;
    grid-template-rows:auto 1fr auto auto auto;
    grid-template-columns:100%;
    min-height: 100vh;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 240px;
    z-index: 600;
}

.main-size-bar {
    margin-left: 240px;
}

.table-container {
    width: 100%;
    overflow: auto;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    position: relative;
    background: white;
}

.table-container table {
    width: 100%;
    table-layout: fixed;
}

.table-container td,
.table-container th {
    padding: 4px 8px;
    vertical-align: middle;
}

.table-container thead {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    background: #f8f9fa;
}

.table-container thead th {
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    text-align: left;
    font-weight: bold;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    padding: 8px 12px;
    white-space: nowrap;
}

.table-container tbody td {
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    padding: 8px 12px;
}

.table-container table {
    width: 100%;
}

.table-container tbody {
    width: max-content;
    overflow: clip;
    font-size: 1rem;
}

.table-container tr {
    min-width: 100%;
    width: max-content;
    height: fit-content;
}


.table-small-column {
    width: 20px;
    max-width: 100px;
    text-align: start;
    vertical-align: center;
}

.table-lg-column {
    min-width: 200px;
    max-width: 400px;
    word-wrap: break-word;
}

.table-xlg-column {
    min-width: 300px;
    max-width: 600px;
    word-wrap: break-word;
}

.table-medium-column {
    width: fit-content;
    min-width: 120px;
    max-width: 200px;
}

.table-medium-column div {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.badge-outline-success {
    color: #28a745;
    background-color: transparent;
    border: 1px solid #28a745;
    padding: 5px 10px;
    border-radius: 4px;
}

.badge-outline-secondary {
    color: #6c757d;
    background-color: transparent;
    border: 1px solid #6c757d;
    padding: 5px 10px;
    border-radius: 4px;
}